#name {
  text-align: center; 
  padding: 10px;
  margin-bottom: 5px;
}

#boxes {
  background-color: #C04000;
  width: 500px; 
  border: 15px solid #FFDB58;
  padding: 50px;
  margin: 20px; 
}

body {
  color: #ECECEC;
}
